! ------------------------------------------------------------------------------
! Rofi configs
! ------------------------------------------------------------------------------

rofi.color-enabled: true
rofi.show-icons: true
rofi.color-window: #2e3440, #2e3440, #2e3440
rofi.color-normal: #2e3440, #d8dee9, #2e3440, #2e3440, #bf616a
rofi.color-active: #2e3440, #b48ead, #2e3440, #2e3440, #93e5cc
rofi.color-urgent: #2e3440, #ebcb8b, #2e3440, #2e3440, #ebcb8b
rofi.modi: run,drun,window

! ------------------------------------------------------------------------------
! Xft configs
! ------------------------------------------------------------------------------

!Xft.dpi: 140
Xft.dpi: 96
Xft.antialias: 1
Xft.rgba: rgb

! ------------------------------------------------------------------------------
! urxvt configs
! ------------------------------------------------------------------------------

URxvt.scrollBar: false
URxvt.saveLines: 1000
URxvt.scrollWithBuffer: true

URxvt.font:           xft:DejaVu Sans Mono:style=Book:pixelsize=12
URxvt.boldFont:       xft:DejaVu Sans Mono:style=Bold:pixelsize=12
URxvt.italicFont:     xft:DejaVu Sans Mono:style=Oblique:pixelsize=12
URxvt.boldItalicFont: xft:DejaVu Sans Mono:style=BoldOblique:pixelsize=12

! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

